{% extends 'base.html' %}
{% load i18n static %}

{% block extra_head %}<link rel="stylesheet" href="{% static 'css/expense_composer.css' %}?v=4.5">{% endblock %}

{% block title %}{% trans "New expense" %} | TrackMyRupee{% endblock %}

{% block content %}
{% include 'components/expense_composer_card.html' %}
<noscript>
  <p class="text-center my-5">{% trans "JavaScript is needed to add an expense." %}</p>
</noscript>
{% endblock %}

{% block scripts %}<script defer src="{% static 'js/expense_composer.js' %}?v=3.0"></script>{% endblock %}
