{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "New expense" %} | TrackMyRupee{% endblock %}

{% comment %}
  Deep link to the New Expense composer (bookmarks, PWA shortcut, old /expenses/add/ links).
  The composer is mounted by base.html; this marker tells it to open immediately and where to
  send the user afterwards.
{% endcomment %}
{% block content %}
<div data-composer-autoopen data-next="{{ next_url }}" data-entry="{{ request.GET.source }}"></div>
<noscript>
  <p class="text-center my-5">{% trans "JavaScript is needed to add an expense." %}</p>
</noscript>
{% endblock %}
