{% macro t(key) %}{{ {
  "language": "mr",
  "action.edit": "हे पृष्ठ संपादित करा",
  "action.skip": "मुख्य सामग्रीवर जा",
  "action.view": "या पृष्ठाचा स्रोत पहा",
  "announce.dismiss": "पुन्हा दाखवू नका",
  "blog.archive": "संग्रह",
  "blog.categories": "वर्ग",
  "blog.categories.in": "मध्ये",
  "blog.continue": "पुढे वाचा",
  "blog.draft": "मसुदा",
  "blog.index": "सूचीवर परत जा",
  "blog.meta": "मेटाडेटा",
  "blog.references": "संबंधित लिंक्स",
  "clipboard.copy": "क्लिपबोर्डवर कॉपी करा",
  "clipboard.copied": "कॉपी केले",
  "consent.accept": "स्वीकार करा",
  "consent.manage": "सेटिंग्ज",
  "consent.reject": "नकारा",
  "footer": "फुटर",
  "footer.next": "पुढील",
  "footer.previous": "मागील",
  "header": "शीर्षक",
  "meta.comments": "प्रतिक्रिया",
  "meta.source": "स्रोत",
  "nav": "नेव्हिगेशन",
  "readtime.one": "1 मिनिट वाचन",
  "readtime.other": "# मिनिटे वाचन",
  "rss.created": "RSS फीड",
  "rss.updated": "नवीनतम RSS फीड",
  "search": "शोधा",
  "search.config.lang": "en",
  "search.placeholder": "शोधा...",
  "search.share": "शेअर करा",
  "search.reset": "रिसेट करा",
  "search.result.initializer": "शोध सुरू करा",
  "search.result.placeholder": "शोधण्यासाठी टाईप करा",
  "search.result.none": "कोणतेही निकाल आढळले नाहीत",
  "search.result.one": "1 निकाल आढळला",
  "search.result.other": "# निकाल आढळले",
  "search.result.more.one": "या पानावर आणखी 1",
  "search.result.more.other": "या पानावर आणखी #",
  "search.result.term.missing": "गहाळ",
  "select.language": "भाषा निवडा",
  "select.version": "आवृत्ती निवडा",
  "source": "रिपोजिटरी",
  "source.file.contributors": "योगदानकर्ते",
  "source.file.date.created": "तयार केले",
  "source.file.date.updated": "शेवटी अपडेट केले",
  "tabs": "टॅब",
  "toc": "अनुक्रमणिका",
  "top": "वर जा"
}[key] }}{% endmacro %}
